<h3><b>Historia Clinica #</b> {{historiaElegida.documento}} | {{historiaElegida.primer_nombre}} {{historiaElegida.segundo_nombre}} {{historiaElegida.primer_apellido}} {{historiaElegida.segundo_apellido}}</h3>
</br>
<form class="form-historia" ng-submit="editarHc(historiaElegida)">
</br>
<h4>Datos Consultante</h4>
<div class="col-md-6">
    <div class="form-group">
      <label>Tipo Documento</label>
      <select class="form-control" ng-model="historiaElegida
    .tipo_documento">
      <option value="" selected disabled>Seleccione...</option>
      <option value="TI">TI</option>
      <option value="CC">CC</option>
      <option value="CE">CE</option>
      <option value="PA">PA</option>
      <option value="RC">RC</option>
      <option value="AS">AS</option>
      <option value="MS">MS</option>
      <option value="NU">NU</option>
    </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Documento</label>
      <input type="text" ng-model="historiaElegida
    .documento" class="form-control" placeholder="Documento">
    </div>
    </div>
    <div class="col-md-3">
    <div class="form-group">
      <label>Primer Nombre</label>
      <input type="text" ng-model="historiaElegida
    .primer_nombre" class="form-control" placeholder="Primer Nombre">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Segundo Nombre</label>
      <input type="text" ng-model="historiaElegida
    .segundo_nombre" class="form-control" placeholder="Segundo Nombre">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Primer Apellido</label>
      <input type="text" ng-model="historiaElegida
    .primer_apellido" class="form-control" placeholder="Primer Apellido">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Segundo Apellido</label>
      <input type="text" ng-model="historiaElegida
    .segundo_apellido" class="form-control" placeholder="Segundo Apellido">
    </div>
  </div>
   <div class="col-md-4">
    <div class="form-group">
      <label>Sexo</label>
      <select class="form-control" ng-model="historiaElegida
    .sexo">
      <option value="" selected disabled>Seleccione...</option>
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
      </select>
    </div>
   </div> 
   <div class="col-md-4">
   <div class="form-group">
   <label>Fecha de nacimiento</label>
  <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>     
      <input type="date" ng-model="historiaElegida
    .fecha_nacimiento" class="form-control" placeholder="Fecha Nacimiento">
    </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Edad</label>
      <input type="number" ng-model="historiaElegida
    .edad" class="form-control" placeholder="Edad">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Departamento</label>
      <select class="form-control" ng-model="historiaElegida
    .departamento">
      <option value="" selected disabled>Seleccione...</option>
      <option value="Amazonas">Amazonas</option>
      <option value="Antioquia">Antioquia</option>
      <option value="Arauca">Arauca</option>
      <option value="Atlántico">Atlántico</option>
      <option value="Bogotá">Bogotá</option>
      <option value="Bolivar">Bolivar</option>
      <option value="Boyacá">Boyacá</option>
      <option value="Caldas">Caldas</option>
    </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Ciudad</label>
      <select class="form-control" ng-model="historiaElegida
    .ciudad">
      <option value="" selected disabled>Seleccione...</option>
      <option value="Leticia">Leticia</option>
      <option value="Medellin">Medellin</option>
      <option value="Arauca">Arauca</option>
      <option value="Barranquilla">Barranquilla</option>
      <option value="Fontibón">Fontibón</option>
      <option value="Cartagena">Cartagena</option>
      <option value="Tunja">Tunja</option>
      <option value="Manizales">Manizales</option>
    </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Telefono fijo</label>
      <input type="number" ng-model="historiaElegida
    .telefono" class="form-control" placeholder="Telefono">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Celular</label>
      <input type="number" ng-model="historiaElegida
    .celular" class="form-control" placeholder="Celular">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Correo Electronico</label>
      <input type="email" ng-model="historiaElegida
    .correo_electronico" class="form-control" placeholder="Correo Electronico">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Zona Residencial</label>
      <select class="form-control" ng-model="historiaElegida
    .zona_residencial">
      <option value="" selected disabled>Seleccione...</option>
      <option value="U">Urbana</option>
      <option value="R">Rural</option>
      </select>
    </div>
   </div> 

   </br>
   <h4>Datos Acudiente</h4>
<div class="col-md-6">
    <div class="form-group">
      <label>Tipo Documento</label>
      <select class="form-control" ng-model="historiaElegida
    .acudiente_tipo_documento">
      <option value="" selected disabled>Seleccione...</option>
      <option value="CC">CC</option>
      <option value="CE">CE</option>
      <option value="PA">PA</option>
      <option value="RC">RC</option>
      <option value="AS">AS</option>
      <option value="MS">MS</option>
      <option value="NU">NU</option>
    </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Documento</label>
      <input type="text" ng-model="historiaElegida
    .acudiente_documento" class="form-control" placeholder="Documento">
    </div>
    </div>
    <div class="col-md-3">
    <div class="form-group">
      <label>Primer Nombre</label>
      <input type="text" ng-model="historiaElegida
    .acudiente_primer_nombre" class="form-control" placeholder="Primer Nombre">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Segundo Nombre</label>
      <input type="text" ng-model="historiaElegida
    .acudiente_segundo_nombre" class="form-control" placeholder="Segundo Nombre">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Primer Apellido</label>
      <input type="text" ng-model="historiaElegida
    .acudiente_primer_apellido" class="form-control" placeholder="Primer Apellido">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Segundo Apellido</label>
      <input type="text" ng-model="historiaElegida
    .acudiente_segundo_apellido" class="form-control" placeholder="Segundo Apellido">
    </div>
  </div>
   <div class="col-md-3">
   <div class="form-group">
   <label>Fecha de nacimiento</label>
  <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>     
      <input type="date" ng-model="historiaElegida
    .acudiente_fecha_nacimiento" class="form-control" placeholder="Fecha Nacimiento">
    </div>
  </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Edad</label>
      <input type="number" ng-model="historiaElegida
    .acudiente_edad" class="form-control" placeholder="Celular">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Celular</label>
      <input type="number" ng-model="historiaElegida
    .acudiente_celular" class="form-control" placeholder="Celular">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Correo Electronico</label>
      <input type="email" ng-model="historiaElegida
    .acudiente_correo_electronico" class="form-control" placeholder="Correo Electronico">
    </div>
  </div>
   <div class="text-center">
    <a href="#/buscar" class="btn btn-danger" role="button">Cancelar</a> 
    <button type="submit" class="btn btn-warning">Editar</button>
  </div>   
</form>